{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "config": "./src/config",
          "constants": "./src/constants",
          "core": "./src/core",
          "models": "./src/models",
          "services": "./src/services",
          "library": "./src/library",
          "middleware": "./src/middleware"
        }
      }
    ]
  ]
}